.destination {
  padding: 86px 0;
}
.destination h6 {
  color: #152c5b;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 46px;
}
.destination__list button {
  border: none;
  outline: none;
  background-size: cover;
  width: 100%;
  height: 100%;
  color: #fff;
  position: relative;
}
.destination__list button h6 {
  font-size: 20px;
  position: absolute;
  bottom: 12px;
  right: 50%;
  transform: translateX(50%);
  color: #fff;
  font-family: "Lato";
  font-weight: 500;
  margin: 0;
  width: 100%;
}

.destination__list {
  margin-bottom: 5rem;
}
