.forget_password {
    width:300px;
    @media only screen and (min-width: 991px) {
        width:600px;
    }
}
.forget_password > h6 {
    text-align:center;
    color:#111;
    font-size:25px;
    margin-bottom:32px;
    font-weight:bold;
}