.offer_marine {
  padding: 40px 0;
}
.offer_marine h6 {
  font-family: Lato;
  font-size: 35.42px;
  font-weight: 700;
  line-height: 42.51px;
  margin-bottom: 20px;
  color: #9e0059;
}

.offer_marine_list {
  display: flex;
  gap: 16px;
  overflow: auto;
  padding: 32px 0;
}
