.slider {
  position: relative;
}

.slider img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: center;
  border-radius: 0px 0px 8px 8px;
}
.slider .swiper {
  height: 400px;
}
.slider .swiper .swiper-pagination {
  position: absolute;
  z-index: 2;
  background-color: yellow;
}
