.about {
  padding: 5rem 0;
}

.about h2 {
  font-size: 52px;
  color: #033975;
  margin: 1rem 0;
  font-weight: bold;
}

.about p {
  font-size: 16px;
  color: #5b656f;
}
.contact {
  padding: 5rem 0;
}

.contact span {
  color: #ca852c;
  font-size: 20px;
}

.contact h2 {
  font-size: 52px;
  color: #033975;
  margin-bottom: 1rem;
  font-weight: bold;
}

.contact p {
  font-size: 16px;
  color: #5b656f;
}

.contact img {
  width: 100%;
  object-fit: contain;
}
